body {
	margin: 0px;
	color: #333333;
	font-family: sans-serif;

}
.nav a {
	font-size: 14px;
	padding: 7px  10px;
	display: inline-block; 
	text-decoration: none;
	color: white;
	transition: color linear 250ms;
	font-family: 'Audiowide', cursive;
}

.nav {
	text-align: center;
	background-color: #1e1e1e;
	position: fixed;
	width: 100%;
	
}

.nav a:hover {
	color: blue;
}

.title {
	font-size: 36px;
	text-align: center;
	font-family: 'Audiowide', cursive; 
}

main {
	width: 90%;
	margin: auto;
}

div {
	font-family: 'Audiowide', cursive;

}
.End {
	font-family: 'Audiowide', cursive;
}

.card {
	text-align: center;
	transition: transform linear 150ms;
	color: #ffffff;
	margin: auto;
	padding: 25px;
	width: 150px;
	
	background: rgba(77,77,77,1);
background: -moz-linear-gradient(-45deg, rgba(77,77,77,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(18,18,18,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(18,18,18,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,77,77,1)), color-stop(1%, rgba(43,43,43,1)), color-stop(2%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(18,18,18,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(18,18,18,1)));
background: -webkit-linear-gradient(-45deg, rgba(77,77,77,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(18,18,18,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(18,18,18,1) 100%);
background: -o-linear-gradient(-45deg, rgba(77,77,77,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(18,18,18,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(18,18,18,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(77,77,77,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(18,18,18,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(18,18,18,1) 100%);
background: linear-gradient(135deg, rgba(77,77,77,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(18,18,18,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(18,18,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#121212', GradientType=1 );
border-radius: 43px 43px 43px 43px;
-moz-border-radius: 43px 43px 43px 43px;
-webkit-border-radius: 43px 43px 43px 43px;
border: 0px solid #000000;
box-shadow: 0 20px 20px rgba(0, 0, 0, .08)
-webkit-box-shadow: 6px 7px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 28px 0px rgba(0,0,0,0.75);
box-shadow: 6px 7px 28px 0px rgba(0,0,0,0.75);
}

.card-title {
  font-weight: 100;
}

.card:hover {
	transform: translateY(-5px);  
}

.contact-link-i,.contact-link-f,.contact-link-t {
	font-size: 38px;
	color: black;
	text-decoration: none;
	margin: 5px;
}

.contact-link-t:hover {
	color: #5ac8fa;
}

.contact-link-f:hover {
	color: #2042a6;
}

.contact-link-i:hover {
	color: #d56efd;
}

section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
